*{
    margin: 0;
    padding:0;
}
li{
    list-style: none;
}
a:link, a:visited{
    text-decoration: none;
    color:#333;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
h1{
    text-align: center;
}
.menu li {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    line-height: 40px;
}

.menu li a{
    display: block;   
}

.menu li:hover{
    background: #ccc;
}


footer.footer{
    background: #ddd;
    text-align: center;
    padding: 20px;
}

h2{
    height: 300px;
    background: skyblue;
}

.router-link-active{
    background: orange;
}